/* Variáveis */
:root {
    --card-width: 350px;
    --card-background: #FFFFFF;
    --title-color: #1F3251;
    --description-color: #7b879d;
}

/* Resetar as métricas do navegador */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Definições do body */
body {
    background-color: #343536;
    font-family: 'Outfit', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--card-background);
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
    text-align: center;
}

.image {
    width: 100%;
}

.card, .image {
    border-radius: 20px;
}

h1 {
    margin: 15px;
    font-size: 30px;
    color: var(--title-color);
}

p {
    font-size: 18px;
    color: var(--description-color);
    margin-bottom: 16px;
}

.gradient-background {
    background: linear-gradient(21deg,#b502f7,#131e07,#4cac1b,#2f99f8);
    background-size: 240% 240%;
    animation: gradient-animation 36s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }